<h1 class="bg-primary text-white p-4">Basics</h1>
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-12 mb-4">
      <app-tab></app-tab>
      <hr>
    </div>
    <div class="col-sm-12">
      <!-- <app-products></app-products> -->
      <app-cards></app-cards>
    </div>
    <hr>
    <div class="col-sm-12">
      <app-students></app-students>
      <app-skillsets></app-skillsets>
    </div>
  </div>
</div>


<!-- 
  create folder 
  app.component.html 
  app.component.scss
  app.component.ts
  app.component.spec.ts >> Unit testing
-->